body {
  background-color: rgb(0, 0, 0) !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  /* position: fixed; */
  width: 100%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

#root {
  /* background-color: burlywood; */
  display: flex;
  justify-content: center;
  height: 90vh;
  width: 90vw;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: rgba(29, 8, 17, 255);
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  height: 180vh;
  width: 90%;
  margin-top: 70px;
}

.pizzaItemContainer {
  position: relative;
  background-color: rgba(52, 33, 41, 1);
  border: 1px solid rgba(129, 127, 127, 0.8);
  color: aliceblue;
  height: 90%;
  width: 91%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 30px;
}

.pizzaItemContainer:hover {
  background-color: rgba(158, 45, 93, 255);
}

.orderBttn {
  background-color: rgb(212, 106, 151);
  position: absolute;
  width: 50%;
  height: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  top: 90%;
  left: 25%;
  cursor: pointer;
}
.orderBttn:hover {
  background-color: rgb(219, 41, 115);

}

#quantityCont {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 30px */
}

.quantityCounter {
  margin-inline: 5px;
  font-size: 20px;
}

.quantityMinusBttn,
.quantityPlusBttn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  width: 25px;
  height: 25px;
  border: 0.3px solid black;
  border-radius: 100%;
  padding-bottom: 4px;
  margin-bottom: 5px;
}
.quantityMinusBttn:hover,
.quantityPlusBttn:hover {
  cursor: pointer;
  background-color: yellow;
  /* color: white; */
}

#navBarDiv {
  position: absolute;
  width: 100%;
  height: 8vh;
  top: 0;
  left: 0;
  background-color: rgba(168, 57, 84, 255);
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

#buttonSearch {
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 6%;
  margin-left: 4%;
}

#filterdiv {
  position: absolute;
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: 12%;
  top: 15%;
  height: 900%;
  left: 0%;
  color: aliceblue;
}

#checkbox {
  position: relative;
  padding-top: 30%;
}

label {
  display: block !important;
}

.listCSS {
  width: 90%;
  /* background-color: red; */
}

#pqContainer {
  /* background-color: red; */
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: absolute;
  top: 80%;
}

#popupContainer {
  background-color: rgba(0, 0, 0, 0.675);
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

#formContainer {
  background-color: rgb(0, 0, 0);
  color: aliceblue;
  width: 20%;
  height: 80%;
  display: flex;
  justify-content: center;
  position: relative;
  border: 5px solid rgb(212, 106, 151);
  border-radius: 30px;
  /* align-items: flex-start; */
}

.formItem {
  /* background-color: red; */
  margin-top: 20px;
  /* font-size: 20px; */
}

#title {
  font-size: 35px;
  text-align: center;
}

.input {
  width: 100%;
  padding: 3%;
}

#submitBttn {
  background-color: rgb(212, 106, 151);
  position: absolute;
  width: 50%;
  height: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  bottom: 5%;
  left: 25%;
  cursor: pointer;
}

#cartButton {
  display: flex;
  position: absolute;
  right: 5%;
  top: 15%;
}


#ingredients{
  width : 100%;
}
#ingredients > div{
  width: 100%;
  font-size: 15px;
}

#ingredientsButton{
  width: 80%
}

.ingredientsContainer{
  display: flex;
}