

body {
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;


}

#root {
    background-color:burlywood;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 90vw;
}

/* .pizzaItemContainer{
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
} */

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: orange;
    padding: 10px;
    height: 90%;
    width: 90%;
  }

.pizzaItemContainer {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }