

body {
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;


}

#root {
    /* background-color:burlywood; */
    display: flex;
    justify-content: center;
    height: 90vh;
    width: 90vw;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: orange;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    height: 160vh;
    width: 90%;
    margin-top: 100px;
  }

.pizzaItemContainer {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    height: 500px;
    /* padding: 20px;
    font-size: 30px;
    text-align: center;
    height: 470px; */ 
    /* margin-bottom: 50px; */
  }

  img{
    /* position: fixed; */
    width: 70%

  }

#navBarDiv{
  position: absolute;
width:100vw;
height: 13vh;
top:0;
left: 0
}

#inputSearch{
  position: absolute;
  text-align: left;
  width: 20%;
  justify-content: center;
  align-items: center;
  top:15%;
  height: 10%;
  right: 5%;
  padding: 14px;
  border: 1px solid #ccc; 
}


